@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,500,900,700,800);

html,
button,
input,
select,
textarea {
    color: #343434;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
html,
body{
    width: 100%;
    height: 100%;
    font-family: "Raleway";
}

::-moz-selection {
    background: #1abc9c;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #1abc9c;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: none;
    
    background: url('../img/bg.jpg') center center;
    background-size: cover;
}

.wrapper .header{
    padding-bottom: 20px;
}
.wrapper .header .content h1{
    font-size: 35px;
    line-height: 26px;
    font-weight: 400;
    color: #797979;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0 10px;
    padding: 0;
}
.wrapper .header .content h1 span{
    color: #1abc9c;
}
.wrapper .header .content hr{
    width: 100px;
    margin: 0 auto;
}
.wrapper .header .content p.welcome{
    font-size: 16px;
    line-height: 16px;
    color: #7d7d7d;
    text-align: center;
    margin: 10px 0;
}
.wrapper .content h2{
    text-align: left;
    font-size: 22px;
    color: rgb(105, 105, 105);
    font-weight: 600;
    border-left: 5px solid #1abc9c;
    line-height: 40px;
    padding-left: 15px;
    text-transform: uppercase;
}

.wrapper .footer .copyrights{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 13px;
    padding: 20px 0;
}
.wrapper .footer .copyrights a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.wrapper .footer .copyrights a:hover{
    color: #1abc9c;
}
.box {
    background: #fff;
    box-shadow: 0 -2px 7px -1px rgba(0,0,0,0.22);
    box-sizing: border-box;
    width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.box .header{
    background: #1abdb4;
    height: 40px;
    width: 100%;
    margin: 0 0 30px;
    padding: 0;
}
.box .header ul{
    margin: 0;
    padding: 0;
}
.box .header ul li{
    float: left;
    width: 33%;
    color: #fff;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    list-style: none;
    font-weight: 500;
    position: relative;
}
.box .header ul li span{
    position: relative;
    z-index: 5;
}
.box .header ul li.active:after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #1abdb4;
    position: absolute;
    top: 35px;
    left: 50%;
    z-index: 0;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    -o-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
}
.box .boxContent{
    height: 280px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.box .half{
    width: 50%;
    float: left;
    box-sizing: border-box;
    position: relative;
    display: table;
}
.box .half.right{
    float: right;
}
.box .half.right:before{
    content: '';
    display: block;
    height: 280px;
    width: 0;
    border-left: 1px solid #73d3ce;
    border-right: 1px solid #a4ece8;
    position: absolute;
    left: -1px;
    top: 0;
}

.box .half.right .cadCall{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.box .half.right .cadCall p{
    margin: 0;
    font-size: 18px;
    color: #1abdb4;
    text-align: center;
    font-weight: 600;
}
.box .half.right .cadCall p span{
    text-decoration: underline;
    cursor: pointer;
}

label{
    color: #1abdb4;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
input{
    border: 2px solid #a4ece8;
    height: 35px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 0 10px
}
button{
    border: 0 none;
    border-radius: 5px;
    background: #1abdb4;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    height: 35px;
    width: 170px;
}
.boxContent img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 26px;
    margin-left: 13px;
}
.boxContent h3{
    font-size: 40px;
    line-height: 27px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 0;
}
.boxContent p{
    font-size: 18px;
    text-align: justify;
    padding-right: 23px;
}
.boxContent .holdingPrice div{
    width: 200px;
    height: 100px;
}

#loginForm{
    padding: 0 30px;
}
#loginForm button{
    margin: 0 auto;
}




.pan{
    position: absolute;
    top: 0;
}
.panzer2{
    width: 100%;
}
.panzer2 h3{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
.panzer2 .half{
    padding: 0 20px;
}
.panzer2 .half.right:before{display: none;}
.panzer2 .half.right button{float: right}


.button {
    background: #3D4C53;
    margin : 0;
    display: inline-block;
    width : 200px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 5px;
    float: left;
}
.btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .3s;
    transform: skew(-30deg);
    border-right: 2px solid #fff;
    text-align: center;
}
.btnText {
    color : #fff;
    transition : .3s;
}
.btnText2 {
    margin-top: 60px;
    margin-right: -143px;
    color: #FFF;
    transform: skew(30deg);
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
}
.button:active { /*When button is clicked*/
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}




.confirmarCurso input#discount{
    float: left;
    height: 50px;
    width: 230px;
    border-radius: 4px 0 0 4px;
    background: #26a69a;
    border-color: #26a69a;
    color: #fff;
    position: relative;
    z-index: 10;
    outline: 0 none;
}
.confirmarCurso .button{
    border-radius: 0 4px 4px 0;
}

.confirmarCurso ::-webkit-input-placeholder {
   color: #7fbab3;
   font: 16px 'Raleway';
}

.confirmarCurso :-moz-placeholder {
   color: #7fbab3;
   font: 16px 'Raleway';
}

.confirmarCurso ::-moz-placeholder {
   color: #7fbab3;
   font: 16px 'Raleway';
}

.confirmarCurso :-ms-input-placeholder {
   color: #7fbab3;
   font: 16px 'Raleway';
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 960px) {
    body{background: red;}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
